[submodule "roles/linux/user-management"]
	path = roles/linux/user-management
	url = git@github.com:alainseys/user-management.git
[submodule "roles/linux/firewall-management"]
	path = roles/linux/firewall-management
	url = git@github.com:alainseys/firewall-management.git
[submodule "roles/linux/unattended-updates"]
	path = roles/linux/unattended-updates
	url = git@github.com:alainseys/unattended-updates.git
[submodule "roles/linux/ssl-deployment"]
	path = roles/linux/ssl-deployment
	url = git@github.com:alainseys/ssl-deployment.git
